# Variables homework

Advice for homework and life: try, play, experiment; don't Google until you get frustrated.

You can't break anything with Python, so, if you want to figure something out, try until you get it to work. You'll learn more and you'll remember it longer and more deeply.

---

In general, the homework question will consist of the question in a markdown cell, a code cell for you to play in, repeating as needed,  and a final markdown cell for your answer or explanation *that will be in italics*.

But do feel free to add or delete cells as you feel appropriate. The important thing is you get your point across!

---

### 1.

Make an integer: `theAnswer = 42`.
Now make another: `anotherNameForTheAnswer = 42`
(You don't have to use these exactly, but make sure you have two different names referring to the same exact value.)

In [4]:
theAnswer = 42
anotherNameForTheAnswer = 42

Get and note the ID numbers for both.

In [5]:
print('theAnswer ID:', id(theAnswer))
print('anotherNameForTheAnswer ID:',id(anotherNameForTheAnswer))

theAnswer ID: 2420545252944
anotherNameForTheAnswer ID: 2420545252944

Assign each name to a completely different number and confirm that each name now refers to an object with a new ID.

In [6]:
theAnswer = 3
anotherNameForTheAnswer = 100
print('theAnswer ID:', id(theAnswer))
print('anotherNameForTheAnswer ID:',id(anotherNameForTheAnswer))

theAnswer ID: 2420545251696
anotherNameForTheAnswer ID: 2420545443280

Do a `whos` to confirm that *no* names refer to the original value.

In [7]:
whos

Variable                  Type    Data/Info
-------------------------------------------
anotherNameForTheAnswer   int     100
theAnswer                 int     3

Finally, assign a new name to the original value, and get its ID.

In [9]:
new_name = 42
print('new_name ID:', id(new_name))

new_name ID: 2420545252944

*Look at this ID and compare it to the original ones. What happened? What does this tell you?*

_The new name ID has the same ID as the original ones! This tells me that every variable name that is assigned 42 will recognize it as the same ID._

---

### 2.

Convert both possible Boolean values to strings and print them.

In [10]:
bool_to_str1 = str(True)
bool_to_str2 = str(False)

print(bool_to_str1)
print(bool_to_str2)

True
False

Now convert some strings to Boolean until you figure out "the rule".

In [17]:
bool1 = bool('bees')
bool2 = bool('apple')
bool3 = bool('')

print(bool1)
print(bool2)
print(bool3)

True
True
False

*What string(s) convert to True and False? In other words, what is the rule for str -> bool conversion?*

_Any non-empty strings are True and empty strings are False._

---

### 3.

Make three variables:

* a Boolean equal to True
* an int (any int)
* a float

Try all combinations of adding two of the variables pairwise.

In [20]:
var1 = True
var2 = 63
var3 = 0.25

print(var1 + var2) # True = 1, False = 0
print(var1 + var3)
print(var2 + var3)

64
1.25
63.25

*What is the rule for adding numbers of different types?*

_Python automatically converts the lower-ranked type to the higher-ranked type and produces a result of the higher-ranked type._

---

### 4.

Make an int (any int) and a string containing a number (e.g. num_str = '64'). Try

* adding them
* adding them converting the number to a string
* adding them converting the string to a number

In [34]:
num_int = 54
num_str = '4'

# print(num_int + num_str); error, int + str
print(str(num_int) + num_str)
print(int(num_str) + num_int)

544
58

Try converting a `str` that is a spelled out number (like 'forty two') to an int.

In [23]:
int(num_str)

4

*Did that work?* yes.

---

### 5.

Make a variable that is a 5 element tuple.

In [39]:
tup = (7, 'sunflower', 3.14, False, 'wow')
tup

(7, 'sunflower', 3.14, False, 'wow')

Extract the last 3 elements.

In [40]:
tup[-3:]

(3.14, False, 'wow')

---

### 6.

Make two variables containing tuples (you can create one and re-use the one from #5). Add them using "+".

In [42]:
tup1 = (7, 'sunflower', 3.14, False, 'wow')
tup2 = ('boat', False, 42, 2.71, 'pug')

tup_add = tup1 + tup2
tup_add

(7, 'sunflower', 3.14, False, 'wow', 'boat', False, 42, 2.71, 'pug')

Make two list variables and add them.

In [45]:
list1 = [10, 30, 70]
list2 = ['lily', 'beach', 'book']

Try adding one of your tuples to one of your lists.

In [48]:
add = tup2 + list1
add

TypeError: can only concatenate tuple (not "list") to tuple

*What happened? How does this compare to adding, say, a bool to a float?*

_Adding a tuple to a list with the + operator causes a TypeError. However, adding different types like a bool to a float involves implicit conversion by Python._

---

### 7.

Can you tell the type of a variable by looking at its value?

*If so, how? A couple examples are fine; no need for an exhaustive list.*

_Yes, for instance:_

integer/float has decimal; num1 = 2, num2 = 3.14

string ('' or "")/boolean (True or False); str_var = 'backpack', bool_var = True

---

### 8.

Make a list variable in which one of the elements is itself a list (e.g. `myList = ['hi', [3, 5, 7, 11], False]`).

In [60]:
myList = ['hi', [3, 5, 7, 11], False]

Extract one element of the nested list - the list-within a list. Try it in two steps, by first extracting the nested list and assigning it to a new variable.

In [65]:
nested_list = myList[1]
nested_list

[3, 5, 7, 11]

Now see if you can do this in one step.

In [64]:
element = myList[1][2]
element

7

---

### 9.

Make a `dict` variable with two elements, one of which is a list.

In [69]:
myDict = {'key1': [15, 121, 21], 'key2': 'store'}

Extract a single element from the list-in-a-dict in one step.

In [70]:
list_in_dict = myDict['key1'][1]
list_in_dict

121

---

### 10.

Make a list variable. Consider that each element of the list is logically an *object* in and of itself. Confirm that one or two of these list elements has its own unique ID number.

In [80]:
myList = [17, 'hello there', [9, 5, 7], False]

# confirm IDs of elements
for element in myList:
    print('ID', element, ':', id(element))

ID 17 : 2420545252144
ID hello there : 2420655875440
ID [9, 5, 7] : 2420655768192
ID False : 140710367918216

If you extract an element from your list and assign it to a new variable, are the IDs the same, or is a new object created?

In [81]:
new_var = myList[1]
print('ID myList[1]:', id(myList[1]))
print('ID new_variable:', id(new_var))

ID myList[1]: 2420655875440
ID new_variable: 2420655875440

*Are the IDs the same, or is a new object created when you assigned the list element to new variable?*

_The IDs are the same indicating that the new variable refers to the same object as the element in the list._

---

### 11.

Make a `str` variable containing the first 5 letters of the alphabet (e.g. `a2e = 'abcde'`). Check the ID of the second (index = 1) element (the 'b').

In [92]:
a2e = 'abcde'

print('ID of \'b\':', id(a2e[1]))

ID of 'b': 2420546081712

Now make a `str` variable containing the letter 'b'. Check its ID.

In [93]:
b_var = 'b'

print('ID of \'b\' variable:', id(b_var))

ID of 'b' variable: 2420546081712

*What happened?*

_The IDs are the same, therefore, the same object is being referenced and a new object was not created._